.navbar {
  position: relative;
  z-index: 5;
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 10px);
  margin: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  img {
    height: 3rem;
    width: auto;
  }

  nav {
    font-size: 30px;
    display: flex;
    gap: 2rem;
    color: var(--text-color);
  }

  a {
    font-size: 1.4rem;
    transition: 0.3s;
    &:hover {
      color: var(--primary);
    }
  }

  @media (max-width: 900px) {
    nav {
      display: none;
    }

    img {
      height: 2rem;
      width: auto;
    }

    padding: 10px 20px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
  }

  @media (min-width: 900px) {
    i {
      display: none;
    }
  }
}

.mobile-nav{
  position: fixed;
  top: -2rem;
  left: 0;
  height: 350px;
  width: 100vw;
  background-color: rgb(2, 2, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: updown 1s;

  >i{
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.nav-mob{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}
